trigger:
  branches:
    include:
      - main

pool:
  name: selfhosted

variables:
  NODE_VERSION: '20'

steps:
  - checkout: self

  - task: NodeTool@0
    inputs:
      versionSpec: '$(NODE_VERSION)'
    displayName: 'Use Node $(NODE_VERSION)'

  # If your app is in repo root, delete workingDirectory lines.
  - script: npm ci
    displayName: 'Install dependencies'
    workingDirectory: web

  - script: npm run lint --if-present
    displayName: 'Lint'
    workingDirectory: web

  - script: npm test --if-present
    displayName: 'Test'
    workingDirectory: web

  - script: npm run build
    displayName: 'Build'
    workingDirectory: web
